<?xml version="1.0" ?>
<robot name="zed2i">
    <material name="mat">
        <texture filename="zed2i.mtl"/>
    </material>

    <link name="base_link"/>

    <!--    Define the mounting plates for the robot arms-->
    <link name="zed_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="zed2i.obj" scale="0.1 0.1 0.1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="-0.005 0 0.001" rpy="0 0 0"/>
            <geometry>
                <box size="0.043 0.175 0.03"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.230"/>
        </inertial>
    </link>

    <joint name="base_link_2_zed_link" type="fixed">
        <parent link="base_link"/>
        <child link="zed_link"/>
        <origin xyz="0 0 0.00" rpy="0 -1.57 -1.57"/> # camera is modelled with X+ forward but for us it is Z+ forward
    </joint>

<!--    Virtual frames -->
</robot>