<?xml version="1.0" encoding="utf-8"?>
<robot name="battery_brick">
    <link name="base_link"/>
    <link name="base_link_inertia">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="../meshes/general_brick_housing.obj"/>
            </geometry>
        </visual>
        <!-- Base joint -->
        <collision>
            <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
            <geometry>
                <sphere radius="0.07"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="4.0"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="0.00443333156" ixy="0.0" ixz="0.0" iyy="0.00443333156" iyz="0.0" izz="0.0072"/>
        </inertial>
    </link>
    <link name="lid_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="../meshes/lid.obj" scale="1 1 1"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.233 0.233 0.24" />
            </geometry>
        </collision>
    </link>
    <link name="lid_cover_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0.0"/>
            <geometry>
                <mesh filename="../meshes/lid_cover.obj" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="1.570796327 0 0"/>
            <geometry>
                <cylinder radius="0.0515" length="0.035"/>
            </geometry>
        </collision>
    </link>
    <joint name="base_link-base_link_inertia" type="fixed">
        <parent link="base_link"/>
        <child link="base_link_inertia"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>
    <joint name="base_link-lid_link" type="fixed">
        <parent link="base_link"/>
        <child link="lid_link"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>
    <joint name="lid_link-lid_cover_link" type="fixed">
        <parent link="lid_link"/>
        <child link="lid_cover_link"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>
</robot>